.comp-75 {
  width: 100%;
}

.mleft-125 {
  margin-left: 12.5%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-form-field {
  height: 90px;
}

.row {
  display: flex;
  align-items: center;
}

.botoes{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  justify-content: center;
}

button {
  height: 48px;
  width: 150px;
}

mat-label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 350;
}
