<div class="container">

  <h1 class="text-center">Adicionar Questão</h1>
  <h2 class="text">Pergunta</h2>

  <form [formGroup]="form" (ngSubmit)="salvarQuestao()">
    <div class="text-center">
      <mat-form-field appearance="fill" color="primary" class="comp-75">
        <mat-label>ID da matéria</mat-label>
        <input
          formControlName="idMateria"
          matInput
          placeholder="Informe o ID da matéria"
        />
      </mat-form-field>
      <mat-form-field appearance="fill" color="primary" class="comp-75">
        <mat-label>ID da banca</mat-label>
        <input
          formControlName="idBanca"
          matInput
          placeholder="Informe o ID da banca"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Enunciado</mat-label>
        <textarea
          placeholder="Informe o enunciado da questão"
          formControlName="enunciado"
          matInput
        ></textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-12">
        <h2 class="text">Respostas</h2>
        <p>Escreva a alternativa e selecione a correta no menu à direita</p>
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        <mat-form-field class="example-full-width">
          <mat-label>Primeira resposta</mat-label>
          <textarea
            formControlName="resposta1"
            matInput
          ></textarea>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-radio-group
          aria-label="Select an option"
          formControlName="respostaCorreta"
          name="correta"
        >
          <mat-radio-button
            class="example-margin"
            value="0"
            id="idcorreta1"
          ></mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        <mat-form-field class="example-full-width">
          <mat-label>Segunda resposta</mat-label>
          <textarea
            formControlName="resposta2"
            matInput
          ></textarea>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-radio-group
          aria-label="Select an option"
          formControlName="respostaCorreta"
          name="correta"
        >
          <mat-radio-button
            class="example-margin"
            value="1"
            id="idcorreta2"
          ></mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        <mat-form-field class="example-full-width">
          <mat-label>Terceira resposta</mat-label>
          <textarea
            formControlName="resposta3"
            matInput
          ></textarea>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-radio-group
          aria-label="Select an option"
          formControlName="respostaCorreta"
          name="correta"
        >
          <mat-radio-button
            class="example-margin"
            value="2"
            id="idcorreta3"
          ></mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        <mat-form-field class="example-full-width">
          <mat-label>Quarta resposta</mat-label>
          <textarea
            formControlName="resposta4"
            matInput
          ></textarea>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-radio-group
          aria-label="Select an option"
          formControlName="respostaCorreta"
          name="correta"
        >
          <mat-radio-button
            class="example-margin"
            value="3"
            id="idcorreta4"
          ></mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        <mat-form-field class="example-full-width">
          <mat-label>Quinta resposta</mat-label>
          <textarea
            formControlName="resposta5"
            matInput
          ></textarea>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-radio-group
          aria-label="Select an option"
          formControlName="respostaCorreta"
          name="correta"
        >
          <mat-radio-button
            class="example-margin"
            value="4"
            id="idcorreta5"
          ></mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="text-start botoes">
      <a routerLink=".."><button mat-raised-button color="warn"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button></a>
      <button mat-raised-button color="primary"><i class="fas fa-save"></i> Salvar</button>
    </div>
  </form>
</div>
