<div class="imgbg">
    <div class="conteudo">
        <header>
            <a routerLink="">
                <div class="fa-lg" >
                    <i class="fas fa-sign-out-alt" style="color: #30BCED; margin-top: 5px; margin-right: 5px; margin-left: 5px;"></i>
                </div>
            </a>
        </header>   
    </div>
    <div>
        <div class="text-center">    
            <img src="../../../../assets/images/logo_azul_sem_fundo.png" alt="Logo Vestibulando" class="" id="logo">
        </div>
    </div>

    <div class="container d-flex align-items-center flex-column bg-light principal mx-auto marg-10">
        <h3 class="text-center mt-5 mb-0 mytitle"><strong>Cadastro</strong></h3>

        <input type="email" style="text-align: center;" class="myinput" placeholder="E-mail" required>

        <input type="text" style="text-align: center;" class="myinput" placeholder="Nome Completo"required>
    
        <input type="password" style="text-align: center;" class="myinput" placeholder="Senha"required>

        <input type="password" style="text-align: center;" class="myinput" placeholder="Confirmar senha"required>

        <button class="btn botaoazul">Cadastrar</button>
    </div>
</div>