<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
          <a routerLink="/app" class="nav-link">Home</a>
      </li>
      <!-- <li class="nav-item d-none d-sm-inline-block">
          <a routerLink="/app/simulados/gerarSimulado" class="nav-link">FAQ</a>
      </li> -->
  </ul>

<!-- Navbar Right Menu -->
<ul class="navbar-nav ml-auto">
<li class="nav-item">
<button mat-flat-button color="warn" (click)="logout()" *ngIf="logado"><i class="fas fa-sign-out-alt"></i> Logout</button>
</li>
</ul>


</nav>
