<p class="mb-5"><a routerLink=".."><button mat-raised-button color="warn"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button></a></p>

<h1 class="text-center">Adicionar Banca</h1>

<div class="text-center">
    <mat-form-field appearance="fill" color="primary" class="comp-75">
        <mat-label>Nome da Banca</mat-label>
        <input [formControl]="nomeBanca" matInput placeholder="Informe o nome da banca">
    </mat-form-field>
    <mat-form-field appearance="fill" color="primary" class="comp-75">
        <mat-label>Sigla</mat-label>
        <input [formControl]="siglaBanca" matInput placeholder="Informe a sigla da banca">
    </mat-form-field>
</div>

<div class="text-start mleft-125">
    <button mat-raised-button color="primary" (click)="adicionarBanca()">Salvar</button>
</div>

