<div class="container">
  <h1 *ngIf="simulados.length > 0; else simuladoVazio">Lista de Simulados</h1>
  <ng-template #simuladoVazio>
    <h1 *ngIf="!loading">Nenhum simulado encontrado</h1>
  </ng-template>

  <div class="check-container">
      <mat-form-field appearance="fill" class="selectCustom">
        <mat-label>Filtrar por matérias</mat-label>
        <mat-select [formControl]="materiasSelecionadas" multiple (selectionChange)="filtroMateriaMudou()">
          <mat-option *ngFor="let mat of materiasFiltro" [value]="mat.id">{{mat.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="selectCustom">
        <mat-label>Filtrar por bancas</mat-label>
        <mat-select [formControl]="bancasSelecionadas" multiple (selectionChange)="filtroBancasMudou()">
          <mat-option *ngFor="let ban of bancasFiltro" [value]="ban.id">{{ban.name}}</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <ng-template #simuladoVazio>
    <h1 *ngIf="!loading">Nenhum simulado encontrado</h1>
  </ng-template>
  <div class="grid">
    <div class="card" *ngFor="let simulado of simulados">
      <button
        *ngIf="isAdmin"
        mat-raised-button
        color="warn"
        (click)="confirmarExclusaoSimulado(this.simulado.id)"
      >
        <i class="fa fa-trash"></i>
      </button>
      <p>{{ simulado.perguntas.length }} perguntas</p>
      <div *ngIf="simulado.bancas.length > 0">
        <p>Bancas:</p>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let banca of simulado.bancas">
            {{ banca.sigla }}
          </li>
        </ul>
      </div>
      <div *ngIf="simulado.materias.length > 0">
        <p>Matérias:</p>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let materia of simulado.materias">
            {{ materia.nome }}
          </li>
        </ul>
      </div>

      <p>
        Criado em: <br />
        {{ converterData(simulado.createdAt) }}
      </p>
      <div *ngIf="simulado.updatedAt != null">
        <p>
          Editado em: <br />
          {{ converterData(simulado.updatedAt) }}
        </p>
      </div>
      <p class="text-success respondeuSimulado" *ngIf="encontrarSimuladoRespondido(simulado.id) != ''">
        {{encontrarSimuladoRespondido(simulado.id)}}
      </p>
      <div class="botoes">
        <button
          mat-raised-button
          color="primary"
          (click)="
            encontrarSimuladoRespondido(simulado.id) != ''
              ? confirmarRealizacaoSimulado(simulado.id)
              : redirecionarSimulado(simulado.id)
          "
        >
          Fazer Simulado
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="redirecionarRanking(simulado.id)"
        >
          Acessar Ranking
        </button>
      </div>
    </div>
    <app-loading [loading]="loading"></app-loading>
  </div>
  <mat-paginator
    [pageSizeOptions]="[3, 6]"
    [pageSize]="3"
    [length]="totalElements"
    (page)="nextPage($event)"
  >
  </mat-paginator>
</div>
