h1 {
  line-height: 3em;
  text-align: center;
}

.grid {
  display: grid;
  gap: 20px;
  grid-auto-rows: max-content;
}

.card {
  padding: 1.5em;
  position: relative;
  margin: auto;
  height: 100%;
}

.card:nth-child(2) {
  grid-column: 2;
}

.card:nth-child(3) {
  grid-column: 3;
}

.card>button:first-child {
  position: absolute;
  top: 0;
  right: 0;
}

.card ul {
  margin-bottom: 20px;
  max-height: 110px;
  overflow-y: auto;
}

.card>p:first-child {
  font-weight: 600;
}

.botoes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.botoes button[mat-raised-button] {
  height: auto;
  padding: 10px 15px;
}

@media only screen and (max-width: 1000px) {
  .card:nth-child(2) {
    grid-column: 2;
  }

  .card:nth-child(3) {
    grid-column: 1;
  }

  .botoes button[mat-raised-button] {
    height: auto;
  }
}

@media only screen and (max-width: 530px) {
  .card:nth-child(2) {
    grid-column: 1;
  }

  .card:nth-child(3) {
    grid-column: 1;
  }
}
