<div class="banner">
    <header>
        <nav>
            <a href="#">
                <img src="../../../../assets/images/logo-vestibulando.png" alt="Logo da Vestibulando">
            </a>
            <a routerLink="/login">
                <div class="fa-2x">
                    <i class="fas fa-sign-in-alt" style="color: #30BCED"></i>
                </div>
            </a>
        </nav>
    </header>
    <section>
        <h1><strong>Conheça a Vestibulando e aumente seu desempenho no vestibular</strong></h1>
        <a routerLink="/login"><button mat-flat-button color="primary">Passar no Vestibular</button></a>
    </section>
</div>

<footer>
    <img src="../../../../assets/images/logo-vestibulando.png" alt="Logo da Vestibulando">
    <div class="colunas">
        <ul>
            <li>Sobre nós</li>
            <li><a (click)="redirecionarSobreNos()">Sobre a empresa</a> </li>
            <li><a href="#">Política de Privacidade</a> </li>
            <li><a href="#">Termo de Uso</a> </li>
        </ul>
        <ul>
            <li>Ajuda</li>
            <li><a href="#">Contatos</a> </li>
            <li><a href="#">Perguntas Frequentes</a> </li>
            <li><a href="#">Políticas de Troca</a> </li>
        </ul>
        <ul>
            <li>Mídias</li>
            <li><a href="#">Facebook</a> </li>
            <li><a href="#">Instagram</a> </li>
            <li><a href="#">Twitter</a> </li>
        </ul>
    </div>
</footer>