<p>respostas works!</p>
<div class="container">
  <form #f="ngForm" (ngSubmit)="salvar(f.value)">
    <label for="iddescricao" class="form-label">Descrição da resposta</label>
    <input
      type="text"
      ngModel
      name="descricao"
      placeholder="Inserir descrição da resposta"
      id="iddescricao"
      class="form-control"
    />

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        ngModel
        name="correta"
        id="idcorreta"
      />
      <label class="form-check-label" for="idcorreta">
        Selecionar se é a resposta correta.
      </label>
    </div>

    <label for="idpergunta" class="form-label">ID da pergunta</label>
    <input
      type="text"
      ngModel
      name="pergunta"
      placeholder="Inserir ID da pergunta"
      id="idpergunta"
      class="form-control"
    />

    <button class="btn btn-outline-primary mt-3">Salvar</button>
    <p>{{ msg }}</p>
  </form>

  <h1 class="text-center mt-2">Lista de respostas</h1>
  <table class="table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Descrição</td>
        <td>Correta</td>
        <td>Ações</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resp of respostas">
        <td>{{ resp.id }}</td>
        <td>{{ resp.descricao }}</td>
        <td>{{ resp.correta }}</td>
        <td>
          <!-- <a [routerLink]="['/editar', ct.id]">Editar</a> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
