<div class="imgbg">
  <header>
      <a routerLink="">
          <div class="fa-2x">
              <i class="fas fa-arrow-left"
                  style="color: #30BCED; margin-top: 5px; margin-right: 5px; margin-left: 15px;"></i>
          </div>
      </a>
  </header>
  <div>
      <div class="text-center">
          <img src="../../../../assets/images/logo_azul_sem_fundo.png" alt="Logo Vestibulando" class="logo" id="logo">
      </div>
  </div>

  <div class="container d-flex align-items-center flex-column bg-light principal mx-auto marg-10">

      <h3 class="tituloLogin"><b>Alterar a senha</b></h3>

      <div>
          <form [formGroup]="form">
              <div class="input">
                <mat-form-field appearance="fill" color="primary">
                  <mat-label>Nova Senha</mat-label>
                  <input matInput type="password" formControlName="senha" placeholder="Senha" required>

              </mat-form-field>

              </div>
              <p *ngIf="form.controls['senha'].hasError('required')">O preenchimento da senha é obrigatório</p>
              <p *ngIf="form.controls['senha'].hasError('minlength')">A senha deve possuir no mínimo 6 caracteres</p>
              <p *ngIf="form.controls['senha'].hasError('maxlength')">A senha deve possuir no máximo 20 caracteres</p>
              <div class="botoesLogin">
                  <button  mat-flat-button color="primary" (click)="alterarSenha()" [disabled]="form.invalid">Confirmar</button>

              </div>


          </form>
      </div>
  </div>
</div>
