<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <aside class="main-sidebar sidebar-dark-primary elevation-4 navbarBackgroundDefaultColor">
        <a routerLink="/app" class="brand-link">
            <img src="../../../../assets/images/logo-vestibulando-livro.png" alt="Logo" class="brand-image "
                style="opacity: .8">
            <span class="brand-text font-weight-bold fontColorBlue">Vestibulando</span>
        </a>

        <div class="sidebar ">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <li class="nav-item">
                        <a routerLink="simulados/gerarSimulado" class="nav-link ">
                            <i class="fas fa-cog nav-icon"></i>
                            <p>Gerar simulado</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="simulados" class="nav-link ">
                            <i class="fas fa-pencil-alt nav-icon"></i>
                            <p>Simulados</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="ranking" class="nav-link ">
                            <i class="fas fa-trophy nav-icon"></i>
                            <p>Ranking Global</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview" *ngIf="isAdmin">
                        <a class="nav-link gerenciar">
                            <i class="fa fa-cogs nav-icon"></i>
                            <p>Gerenciar <i class="right fa fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a routerLink="modbancas" class="nav-link @active">
                                    <i class="fa fa-university" style="margin-left: 20px; margin-right: 10px;"> </i>
                                    <p>Bancas</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="modmaterias" class="nav-link @active">
                                    <i class="fa fa-book" style="margin-left: 20px; margin-right: 10px;"></i>
                                    <p>Matérias</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="questoes" class="nav-link @active">
                                    <i class="fa fa-file" style="margin-left: 20px; margin-right: 10px;"></i>
                                    <p>Questões</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="usuarios" class="nav-link @active">
                                    <i class="fas fa-users" style="margin-left: 20px; margin-right: 10px;"></i>
                                    <p>Usuários</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</aside>