<div class="imgbg">
    <header>
            <a routerLink="">
                <div class="fa-2x" >
                    <i class="fas fa-arrow-left" style="color: #30BCED; margin-top: 5px; margin-right: 5px; margin-left: 15px;"></i>
                </div>
            </a>
    </header>
    <div>
        <div class="text-center">
            <img src="../../../../assets/images/logo_azul_sem_fundo.png" alt="Logo Vestibulando" class="logo" id="logo">
        </div>
    </div>

    <div class="container d-flex align-items-center flex-column bg-light principal mx-auto marg-10">
        <h3 class="tituloLogin"><b>Login</b></h3>
        <form [formGroup]="form">
        <input type="text" class="myinput" placeholder="E-mail" formControlName="username" required>
        <input type="password" formControlName="password" class="myinput" placeholder="Senha" required>
        <div class="botoesLogin">
           <button mat-flat-button color="primary" (click)="login()" >Login</button>
            <button mat-flat-button color="primary" (click)="redirecionarCadastro()">Cadastro</button>

        </div>
      </form>
    </div>
</div>
