<div class="imgbg">
    <header>
        <a routerLink="">
            <div class="fa-2x">
                <i class="fas fa-arrow-left"
                    style="color: #30BCED; margin-top: 5px; margin-right: 5px; margin-left: 15px;"></i>
            </div>
        </a>
    </header>
    <div>
        <div class="text-center">
            <img src="../../../../assets/images/logo_azul_sem_fundo.png" alt="Logo Vestibulando" class="logo" id="logo">
        </div>
    </div>

    <div class="container d-flex align-items-center flex-column bg-light principal mx-auto marg-10">

        <h3 class="tituloLogin"><b>Login</b></h3>

        <div>
            <form [formGroup]="form">
                <div class="input">
                    <mat-form-field appearance="fill" color="primary" >
                        <mat-label>E-mail</mat-label>
                        <input matInput formControlName="username" type="text" placeholder="E-mail" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill" color="primary">
                        <mat-label>Senha</mat-label>
                        <input matInput [type]="mostrarSenha ? 'text' : 'password'" formControlName="password" placeholder="Senha" required>
                        <button mat-icon-button matSuffix (click)="mudaVisibilidadeSenha()"><mat-icon>{{mostrarSenha ? 'visibility_off' : 'visibility' }}</mat-icon></button>
                    </mat-form-field>
                </div>
                <div class="botoesLogin">
                    <button mat-flat-button color="primary" (click)="login()">Login</button>
                    <button mat-flat-button color="primary" (click)="redirecionarCadastro()">Cadastro</button>
                </div>
            </form>
        </div>
    </div>
</div>