<div class="imgbg">
    <header>
            <a routerLink="">
                <div class="fa-lg" >
                    <i class="fas fa-sign-out-alt" style="color: #30BCED; margin-top: 5px; margin-right: 5px; margin-left: 5px;"></i>
                </div>
            </a>
    </header>
    <div>
        <div class="text-center">    
            <img src="../../../../assets/images/logo_azul_sem_fundo.png" alt="Logo Vestibulando" class="" id="logo">
        </div>
    </div>

    <div class="container d-flex align-items-center flex-column bg-light principal mx-auto marg-10">
        <h3 class="text-center mt-5 mb-0 mytitle"><strong>Login</strong></h3>

        <input type="text" style="text-align: center;" class="myinput" placeholder="Usuário">

        <input type="password" style="text-align: center;" class="myinput" placeholder="Senha">
        <div>
            <a routerLink="/app"><button class="btn botaoazul">Login</button></a>
            <a routerLink="../cadastro"><button class="btn botaoazul">Cadastro</button></a>
        </div>
    </div>
</div>