.container {
  overflow-x: hidden;
}

.pesquisar {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  vertical-align: center;
  align-items: center;
}

mat-form-field {
  width: 95%;
  max-width: 500px;
  min-width: 180px;
}


tr td:nth-child(2) div {
  max-height: 80px;
  overflow-y: auto;
  padding-right: 1.5em;
}

.botoes {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

tr td:nth-child(5) div button {
  width: clamp(100px, 10vw, 100px);
  min-width: 100px;
  padding: 10px;
  margin: auto;
}

table {
  overflow-x: auto;
  margin-top: 20px;
}

mat-paginator {
  background-color: #f4f6f9;
  display: flex;
  justify-content: center;
  line-height: 1em;
}

mat-paginator button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .pesquisar {
    justify-content: center;
  }
  .pesquisar mat-form-field {
    font-size: 13px;
  }
  tr td:nth-child(1) {
    width: 10px;
  }

  tr td {
    font-size: clamp(13px, 1vh, 25px);
  }
}
