<div class="container">
  <h1 class="text-center">Gerenciar Questões</h1>

  <p class="text-end mt-3 mr-3">
    <a routerLink="adiciona"
      ><button mat-raised-button color="primary">
        <i class="fa fa-plus"></i> Adicionar Questão
      </button></a
    >
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Enunciado</th>
        <th>Disciplina</th>
        <th>Banca</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let perg of pergunta">
        <th>{{ perg.id }}</th>
        <th>{{ perg.corpo }}</th>
        <th>{{ perg.materia.nome }}</th>
        <th>{{ perg.banca.sigla }}</th>
        <td>
          <button style="margin-right: 5px;" mat-raised-button color="warn" (click)="excluir(perg.id || 0)"><i class="fa fa-trash"></i></button>
          <a [routerLink]="['edita', perg.id]"
            ><button mat-raised-button color="primary">
              <i class="fas fa-edit"></i></button
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="totalElements"  (page)="nextPage($event)"> </mat-paginator>


</div>
