<div class="container">
  <h1 class="text-center">Gerenciar Questões</h1>

  <div class="pesquisar">

    <mat-form-field appearance="fill" class="w-25">
      <mat-label>Matérias</mat-label>
      <mat-select matInput [(ngModel)]="idMateria">
        <mat-option value="0" (click)="obterFiltrado({ page: '0', size: '25' })">
          Todas as matérias
        </mat-option>
        <mat-option *ngFor="let mat of materiasData" [value]="mat.id" (click)="obterFiltrado({ page: '0', size: '25' })">
          {{ mat.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-25">
      <mat-label>Bancas</mat-label>
      <mat-select matInput [(ngModel)]="idBanca">
        <mat-option value="0" (click)="obterFiltrado({ page: '0', size: '25' })">
          Todas as bancas
        </mat-option>
        <mat-option *ngFor="let banc of bancasData" [value]="banc.id" (click)="obterFiltrado({ page: '0', size: '25' })">
          {{ banc.sigla }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-25">
      <mat-label>Pesquisar</mat-label>
      <input
        matInput
        placeholder="Ex. Sed commodo porttitor"
        [(ngModel)]="corpo"
      />
      <button mat-button matSuffix (click)="obterFiltrado({ page: '0', size: '25' })">
        <i class="fa fa-search"></i>
      </button>
    </mat-form-field>

    <a routerLink="adiciona"><button mat-raised-button color="primary">
        <i class="fa fa-plus"></i> Adicionar Questão
      </button></a>

  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Enunciado</th>
          <th>Disciplina</th>
          <th>Banca</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let perg of pergunta">
          <td>{{ perg.id }}</td>
          <td>
            <div>{{ perg.corpo }}</div>
          </td>
          <td>{{ perg.materia.nome }}</td>
          <td>{{ perg.banca.sigla }}</td>
          <td>
            <div class="botoes">
              <button style="margin-right: 5px" mat-raised-button color="warn"
                (click)="confirmarExclusao(perg.id || 0)">
                <i class="fa fa-trash"></i>
              </button>
              <a [routerLink]="['edita', perg.id]"><button mat-raised-button color="primary">
                  <i class="fas fa-edit"></i></button></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <app-loading [loading]="loading"></app-loading>

  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" [length]="totalElements"
    (page)="nextPage($event)">
  </mat-paginator>
</div>
