<div class="container">
  <h1 class="text-center">Adicionar Questão</h1>
  <h2 class="text">Pergunta</h2>

  <div class="text-center">
    <mat-form-field appearance="fill" class="w-50 pr-2">
      <mat-label>Matérias</mat-label>
      <mat-select name="materia" matInput [(ngModel)]="questao.materia.id">
        <mat-option *ngFor="let mat of materiasData" [value]="mat.id">
          {{ mat.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-50 pl-2">
      <mat-label>Bancas</mat-label>
      <mat-select name="banca" matInput [(ngModel)]="questao.banca.id">
        <mat-option *ngFor="let banc of bancasData" [value]="banc.id">
          {{ banc.sigla }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Enunciado</mat-label>
      <textarea
        [(ngModel)]="questao.corpo"
        placeholder="Informe o enunciado da questão"
        matInput
      ></textarea>
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="text">Respostas</h2>
      <p>Escreva a alternativa e selecione a correta no menu à direita</p>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <mat-form-field class="example-full-width">
        <mat-label>Primeira resposta</mat-label>
        <textarea
          [(ngModel)]="questao.respostas[0].descricao"
          matInput
        ></textarea>
      </mat-form-field>
    </div>
    <div class="col-3" [formGroup]="form">
      <mat-radio-group
        aria-label="Select an option"
        name="correta"
        formControlName="respostaCorreta"
      >
        <mat-radio-button
          class="example-margin"
          value="0"
          id="idcorreta1"
          [checked]="questao.respostas[0].correta"
        ></mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <mat-form-field class="example-full-width">
        <mat-label>Segunda resposta</mat-label>
        <textarea
          [(ngModel)]="questao.respostas[1].descricao"
          matInput
        ></textarea>
      </mat-form-field>
    </div>
    <div class="col-3" [formGroup]="form">
      <mat-radio-group
        aria-label="Select an option"
        name="correta"
        formControlName="respostaCorreta"
      >
        <mat-radio-button
          class="example-margin"
          value="1"
          id="idcorreta2"
          [checked]="questao.respostas[1].correta"
        ></mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <mat-form-field class="example-full-width">
        <mat-label>Terceira resposta</mat-label>
        <textarea
          [(ngModel)]="questao.respostas[2].descricao"
          matInput
        ></textarea>
      </mat-form-field>
    </div>
    <div class="col-3" [formGroup]="form">
      <mat-radio-group
        aria-label="Select an option"
        name="correta"
        formControlName="respostaCorreta"
      >
        <mat-radio-button
          class="example-margin"
          value="2"
          id="idcorreta3"
          [checked]="questao.respostas[2].correta"
        ></mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <mat-form-field class="example-full-width">
        <mat-label>Quarta resposta</mat-label>
        <textarea
          [(ngModel)]="questao.respostas[3].descricao"
          matInput
        ></textarea>
      </mat-form-field>
    </div>
    <div class="col-3" [formGroup]="form">
      <mat-radio-group
        aria-label="Select an option"
        name="correta"
        formControlName="respostaCorreta"
      >
        <mat-radio-button
          class="example-margin"
          value="3"
          id="idcorreta4"
          [checked]="questao.respostas[3].correta"
        ></mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <mat-form-field class="example-full-width">
        <mat-label>Quinta resposta</mat-label>
        <textarea
          [(ngModel)]="questao.respostas[4].descricao"
          matInput
        ></textarea>
      </mat-form-field>
    </div>
    <div class="col-3" [formGroup]="form">
      <mat-radio-group
        aria-label="Select an option"
        name="correta"
        formControlName="respostaCorreta"
      >
        <mat-radio-button
          class="example-margin"
          value="4"
          id="idcorreta5"
          [checked]="questao.respostas[4].correta"
        ></mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="text-start botoes">
    <a routerLink="../.."
      ><button mat-raised-button color="warn">
        <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
      </button></a
    >
    <button mat-raised-button color="primary" (click)="alterarQuestao()">
      <i class="fas fa-save"></i> Salvar
    </button>
  </div>
</div>
