main {
  margin: auto;
  height: 80vh;
  overflow-y: scroll;
}
h1 {
  font-size: clamp(10px, 10vmin, 50px);
  line-height: 1.5em;
  color: black;
}
h2  {
  text-align: center;
  line-height: 1.5em;
}
table {
  width: clamp(110px, 70%, 1500px);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.53);
  border-radius: 5px;
  margin: 20px auto auto;
  max-height: 10px;
  overflow-y: scroll;
}
mat-paginator {
  background-color: #f4f6f9;
  display: flex;
  justify-content: center;
  line-height: 1em;
  margin: 20px auto;
}

h1, th, td {
  text-align: center;
}
tbody > tr:first-child{
  background-color: gold;
}
tbody>tr:nth-child(2) {
  background-color: silver;
}
tbody>tr:nth-child(3) {
  background-color: #CD7F32;
}




