<main>
  <h1>Ranking global</h1>
  <div *ngIf="ranking && ranking.length > 0 ; else rankingVazio">
    <table class="table ">
      <thead>
        <tr>
          <th>Posição</th>
          <th>Usuário</th>
          <th>Pontos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of ranking; index as i" [ngClass]="{'bg-white':actualPage>0}">
          <td>{{actualPage==0?i+1:actualPage*10+i+1}} º</td>
          <td> {{r.emailUsuario}} </td>
          <td>{{ r.acertosUsuario}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <app-loading [loading]="loading"></app-loading>

  <mat-paginator [pageSize]="10" [length]="totalElements"  (page)="nextPage($event)" class="paginator">
  </mat-paginator>
  <ng-template #rankingVazio>
    <p *ngIf="!loading">Ooops parece que ninguém respondeu um simulado ainda</p>
  </ng-template>
  <!-- <app-loading [loading]="loading"></app-loading> -->

</main>
