<div class="container w-50">
    <form class="form-floating">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nome" placeholder="Password" [(ngModel)]="usuario.nome"
                name="nome">
            <label for="nome">Nome Completo</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com"
                [(ngModel)]="usuario.email" name="email">
            <label for="email">E-mail</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="senha" placeholder="Password" [(ngModel)]="usuario.senha"
                name="senha">
            <label for="senha">Password</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="tipo" aria-label="Floating label select example"
                [(ngModel)]="usuario.roles![0].id" name="tipo">
                <option selected value="0">Selecione o privilégio do usuário</option>
                <option *ngFor="let role of roles" [value]="role.id">{{role.authority.replace("ROLE_","")}}</option>

            </select>
            <label for="tipo">Regra Usuario</label>
        </div>

        <p class="mb-5">
            <button class="btn btn-primary mr-3" (click)="salvar()">Salvar</button>
            <a routerLink="../">
                <button mat-raised-button color="warn"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
            </a>
        </p>

    </form>
</div>
