<div class="container w-50">    
    <div class="text-center">
        
        <h1>Adicionar Usuário</h1>
        
        <mat-form-field appearance="fill" color="primary" class="comp-75">
                <input [(ngModel)]="usuario.nome" matInput placeholder="Informe o nome completo" required>
            <mat-label>Nome Completo</mat-label>
        </mat-form-field>
        
        <mat-form-field appearance="fill" color="primary" class="comp-75">
                <input [(ngModel)]="usuario.email" matInput placeholder="Informe o e-mail" required>
            <mat-label>E-mail</mat-label>
        </mat-form-field>

        <mat-form-field appearance="fill" color="primary" class="comp-75">
                <input type="password" [(ngModel)]="usuario.senha" matInput placeholder="Informe a senha" required>
            <mat-label>Password</mat-label>
        </mat-form-field>

        <mat-form-field appearance="fill" color="primary" class="comp-75">
            <mat-label>Regra Usuário</mat-label>
            <mat-select [(ngModel)]="usuario.roles" id="roles" matNativeControl required>
                <mat-option value="CLIENTE">Cliente</mat-option>
                <mat-option value="ADMINISTRADOR">Administrador</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="botoes">
            <a routerLink=".."><button mat-raised-button color="warn"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button></a>
            <button mat-raised-button color="primary" class="mr-3" (click)="salvar()"><i class="fas fa-save"></i> Salvar</button>   
        </div>
    </div>
</div>