.cardwrap{
  display: flex;
  flex-wrap: wrap;
}

.container>h1 {
  line-height: 2em;
}

.container>div:not(.pesquisar) {
  display: grid;
  margin: auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  align-items: center;
  gap: 20px;
}

.pesquisar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  align-items: center;
}

.pesquisar>mat-form-field, .pesquisar>div {
  max-width: 500px;
}

.pesqusiar mat-form-field{
  justify-self: left;
  width: 100%;
}

.pesquisar>div>mat-form-field {
  width: calc(100% - 64px);
}

.pesquisar>div>button {
  margin-bottom: 10px;
}

.card {
  width: 16rem;
  margin: auto;
}

.mt-2 {
  text-align: center;
}

mat-paginator {
  background-color: #f4f6f9;
  display: flex;
  justify-content: center;
  line-height: 1em;
  margin: 20px auto;
}
