<div class="container">
    <div class="pesquisar">
        <mat-form-field class="example-full-width">
            <mat-label>Nome/E-mail</mat-label>
            <input matInput placeholder="Ex. ana/ana@email.com" matInput [(ngModel)]="pesquisa" />
        </mat-form-field>
        <div>
            <mat-form-field color="primary" class="example-full-width">
                <mat-label>Regra Usuário</mat-label>
                <mat-select id="roles" matNativeControl [(ngModel)]="idRole">
                    <mat-option value="0" selected></mat-option>
                    <mat-option *ngFor="let r of roles" [value]="r.id">{{r.authority.replace("ROLE_","")}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button matSuffix (click)="pesquisar({ page: '0', size: '8' })">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <p class="text-end"><a routerLink="/app/usuarios/adduser"><button mat-raised-button color="primary"><i
                        class="fa fa-plus"></i> Adicionar Usuario</button></a></p>
    </div>
    <div>
        <div *ngFor="let u of users">
            <div class="card" style="width: 17rem;">
                <div class="card-body">
                    <div class="row align-items-center">
                        <i class="fas fa-user col-2" *ngIf="checkRole(u.roles!,'ROLE_USUARIO')"></i>
                        <i class="fas fa-user-cog col-2" *ngIf="checkRole(u.roles!,'ROLE_ADMIN')"></i>
                        <div>
                            <h5 class="card-title">{{u.nome}}</h5>
                            <p class="card-text">{{u.email}}</p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <a [routerLink]="['/app/usuarios/edita',u.id]"><button mat-raised-button class="mr-2"
                                color="primary"><i class="fas fa-edit"></i></button></a>
                        <button mat-raised-button class="mr-2" color="warn" (click)="confirmarExclusao(u.id || 0)"><i
                                class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <app-loading [loading]="loading"></app-loading>

    </div>
    <mat-paginator
    [pageSizeOptions]="[8, 24, 80]"
    [pageSize]="8"
    [length]="totalElements"
    (page)="nextPage($event)"
  >
  </mat-paginator>
</div>
