.container {
  max-width: 1000px;
  overflow-x: hidden;
}

table {
  margin: auto;
  max-width: 1000px;
}

tr td:nth-child(4) div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: right;
}

tr td:nth-child(4) div button {
  width: clamp(35px, 10vw, 64px);
  min-width: 35px;
  padding: 10px;
}

@media screen and (max-width: 560px) {
  tr td:nth-child(1) {
    width: 10px;
  }

  tr td {
    font-size: clamp(13px, 1vh, 25px);
  }
}
.loading{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
mat-paginator {
  background-color: #f4f6f9;
  display: flex;
  justify-content: center;
  line-height: 1em;
  margin: 20px auto;
}
