.sumario {
  max-height: 40vh;
  overflow-y: auto;
}

h4 {
  margin-top: 15px;
}

.botoes {
  display: flex;
  align-items: center;
  vertical-align: center;
}

button {
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  .sumario {
    max-height: 20vh;
    overflow-y: auto;
    display: inline-flex;
    margin-top: 10px;
  }

  .botoes button[mat-raised-button] {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}