.sumario{
  max-height: 40vh;
  overflow-y: auto;
}


@media only screen and (max-width: 768px) {
  .sumario{
    max-height: 20vh;
    overflow-y: auto;
    display: inline-flex;
    margin-top: 10px;
  }
}
