.comp-75 {
    width: 75%;
}

button{
    margin-left: 15px;
    margin-right: 100px;
    height: 48px;
    width: 112.83px;
}

.botoes{
    text-align: center;
}

mat-label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 350;
}