<div class="container">
  <div class="home">
    <h1><b>BEM VINDO AO VESTIBULANDO!</b></h1>
    <h5><b>AQUI, TE AJUDAMOS A OBTER A APROVAÇÃO NO VESTIBULAR DE MANEIRA FÁCIL E INTUITIVA.</b></h5>
    <h1 class="display-1"><b>Selecione uma opção</b></h1>

    <div class="menu">
      <div class="card" (click)="redirecionarGerarSimualdo()">
        <h2 class="card-title">Gerar Simulado</h2>
        <p class="card-body">
          Clique aqui para gerar o seu próprio simulado, podendo
          personalisar as bancas que quer e também as matérias relacionadas
          às questões.
          <br>
        </p>
        <span class="icone"><i class="fas fa-cog"></i></span>

      </div>
      <div class="card" (click)="redirecionarSimualdos()">
        <h2 class="card-title">Visualizar Simulados</h2>
        <p class="card-body">
          Clique aqui para acessar simulados gerados por outros usuários,
          você poderá tentar respondê-los ou ainda acessar seu ranking.
          <br>

        </p>
        <span class="icone"><i class="fas fa-pencil-alt"></i></span>

      </div>
      <div class="card" (click)="redirecionarRanking()">
        <h2 class="card-title">Acessar Ranking Global</h2>
        <p class="card-body">
          Clique aqui para visualizar o ranking global de todos os usuários,
          para poder analisar aqueles que mais se destacam no nosso sistema.
        </p>
        <span class="icone"><i class="fas fa-trophy"></i></span>
      </div>
    </div>
  </div>
</div>