.home {
  text-align: center;
}

h1,h2 {
  color: #30bced;
  margin: 50px auto;
}

.home>div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home>div>.card {
  position: relative;
  height: 350px;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  display: grid;
  padding: 20px 10px;
  min-height: 350px;
  max-width: 350px;
  transition: .3s;
  margin: 0;
}

.home>div>.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.42);
  cursor: pointer;
}

.home>div>.card>.card-title {
  font-weight: bolder;
  font-size: 20px;
}

.icone {
  font-size: 30px;
  line-height: 2em;
}


@media (orientation: portrait) {
  .home>div>.card:hover {
    transform: scale(1);
    cursor: pointer;
  }
}
