<h1 class="text-center">Gerenciar Matérias</h1>

<div class="container">
<p class="text-end mt-3 mr-3"><a routerLink="addmateria"><button mat-raised-button color="primary"><i class="fa fa-plus"></i> Adicionar Matéria</button></a></p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let m of materias">
            <td>{{ m.id }}</td>
            <td>{{ m.nome }}</td>
            <td class="text-end">
              <div>
                <button mat-raised-button color="warn" (click)="excluirMateria(m.id || 0)">
                  <i class="fa fa-trash"></i>
                </button>
                <a [routerLink]="['editmateria', m.id]">
                  <button mat-raised-button color="primary">
                    <i class="fas fa-edit"></i></button>
                </a>
              </div>
            </td>
        </tr>
    </tbody>
</table>
</div>
