.container {
  max-width: 1000px;
  overflow-x: hidden;
}

table {
  margin: auto;
  max-width: 1000px;
}

tr td:nth-child(3) {
  display: flex;
  justify-content: right;
}

tr td:nth-child(3) div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

mat-paginator {
  background-color: #f4f6f9;
  display: flex;
  justify-content: center;
  line-height: 1em;
  margin: 20px auto;
}
