<div class="text-center">
    <h1>Adicionar Banca</h1>
    <mat-form-field appearance="fill" color="primary" class="comp-75">
        <mat-label>Nome da Banca</mat-label>
        <input [formControl]="nomeBanca" matInput placeholder="Informe o nome da banca">
    </mat-form-field>
    <mat-form-field appearance="fill" color="primary" class="comp-75">
        <mat-label>Sigla</mat-label>
        <input [formControl]="siglaBanca" matInput placeholder="Informe a sigla da banca">
    </mat-form-field>
</div>

<div class="botoes">
    <a routerLink=".."><button mat-raised-button color="warn"><i class="fa fa-ban" aria-hidden="true"></i>
            Cancelar</button></a>
    <button mat-raised-button color="primary" (click)="adicionarBanca()" [disabled]="criando"><i class="fas fa-save"></i>
      <mat-spinner *ngIf="criando" [diameter]="20"></mat-spinner>
      <span *ngIf="!criando"> Salvar</span>
    </button>
</div>
